<h2>Add a new Client</h2>

<form [formGroup]="clientForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field>
    <mat-label>Client Name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Date of Birth</mat-label>
    <input matInput [matDatepicker]="dob" formControlName="dateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
    <mat-datepicker #dob></mat-datepicker>
  </mat-form-field>

  <form [formGroup]="addressForm">
    <h3>Address</h3>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput formControlName="street">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Number</mat-label>
      <input matInput formControlName="number">
    </mat-form-field>
  </form>

  <br>
  <button mat-raised-button [disabled]="!clientForm.valid">Submit</button>
</form>
