# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Andrei Gabor\Desktop\UNI\2nd YEAR\2nd sem\MPP\jdbc spring example\springd1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
